body{
    background-color: #e0fbfc;
}

.container{
    width: 100%;
    height: 100%;
    background-color: #3d5a80;
    display: flex;
    align-items:center ;
    justify-content: center;
    position: relative;
}

.container img{
    width: 100%;
    padding-top: 20pt;
}

.container h1 {
    position: absolute;
    top: 0%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 3px;
    background-color: #3d5a80;
}

#top h1{
    font-size: 50pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #4b6d9a;
}

#top{
    background-color: #ffffffc1;
    text-align: center;
    text-decoration: none;
}

#top a{ 
    
    position: relative;
    font-size: 30pt;
    font-weight: 700;
    color: #3d5a80;
    padding: 0px 40px;
    text-decoration: none;
}

.search-form{
    
    border-style: solid;
    border-width: 10pt;
    padding-left: 10pt;
    border-color: #98c1d9;
    background-color : #98c1d96e; 
}


h2{
    font-size: 24pt;
    font-family: Arial, Helvetica, sans-serif;

}
.plantCard img{
    width: 200px;
    height: 200px;

}
h3{
    
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(10, 56, 10);
}

.plantCard{
    display: inline-block ;
    width: 20rem;
    margin: 10px;
    background-color: #3d5a80;
    padding: 1rem;
    border-style: inset;
    border-color: #3d5a80;
    text-align: center;
    

}

button{
   
    background-color: rgb(242, 242, 170);
    border-radius: 1;
    border-color: black;

}
#plantList{
    background-color: rgb(155, 155, 207);
    
}